train_set/
test_set/
data/
*.zip
__pycache__/
*.pyc

experiments/results/*
!experiments/results/analysis_outputs/
!experiments/results/analysis_outputs/**

.env
.DS_Store
*.egg-info/
.venv-snellius/
slurm-*.out
slurm-*.err